<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/dashboard/search">Touring 360</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/dashboard/search">Search</a></li>
        <li><a routerLink="/dashboard/trips">Trip Status</a></li>
      </ul>
      <div *ngIf="!this.authService.isLoggedIn; else loggedInBlock">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/dashboard/register"><span class="glyphicon glyphicon-user"></span> Register </a></li>
          <li><a routerLink="/login"><span class="glyphicon glyphicon-user"></span> Sign In </a></li>
        </ul>
      </div>
      <ng-template #loggedInBlock>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/dashboard/profile"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            <li><a routerLink="/dashboard/search" (click)="logOut()"><span class="glyphicon glyphicon-log-in"></span> Log Out</a><li>
        </ul>
      </ng-template>

    </div>
  </nav>
</div>
