<div>
  <h1>Search: <span>{{ host.city }}&#x2c; {{ host.country }}</span></h1>
  <h2>With: <span>{{ host._firstName }} {{host._lastName }}</span> Rating:<span>{{ host._rating }}</span></h2>
</div>
<section>
  <div>
    <h2>About this Host</h2>
  </div>
  <div>
    <p>{{host._bio}}</p>
  </div>

</section>
<section>
  <h2>Interested in booking?</h2>
  <div class="book_date_container">
    <form (ngSubmit)="onSubmit()" name="book">
      Start Trip:<br><i class="fa fa-calendar"></i>
      <input type="text" name="book_start_date" [(ngModel)]="bookStartDate" placeholder="Enter start date here">
      <br>
      End Trip:<br><i class="fa fa-calendar"></i>
      <input type="text" name="book_end_date" [(ngModel)]="bookEndDate" placeholder="Enter end date here">
      <br><br>
      <button class="sign-in-btn" type="submit" pButton label="Book"></button>
    </form>
  </div>
</section>

<div> {{ bookDiagnostic}} </div>

<button (click)="backToSearch()">Back To Search</button>
